streamlit>=1.39.0
matplotlib>=3.9.2
pandas>=2.2.3
numpy>=1.24.0
plotly>=5.24.1
langchain-community>=0.3.2
langchainhub>=0.1.21
bs4>=0.0.2
langchain-core>=0.3.10
setuptools>=65.5.0
huggingface_hub
networkx
protobuf==3.20.0
langchain-huggingface
pysqlite3-binary
sqlite3
langchain
faiss-cpu
scipy
seaborn
langchain-ai21
mplcursors
libsqlite3-dev

