streamlit>=1.28.0
watchdog
matplotlib>=3.9.2
pandas>=2.2.3
numpy>=1.21.1
plotly>=5.24.1
langchain-community
langchainhub>=0.1.21
bs4>=0.0.2
langchain-core>=0.3.10
setuptools>=65.5.0
huggingface_hub
networkx
protobuf
langchain-huggingface
pysqlite3-binary
langchain
scipy
seaborn
langchain-ai21
qdrant-client

